*{
    margin: 0;
    padding: 0;
}

.alert-text{
 color: red;
}

#title{
color: aquamarine;
}

.read, .unread{
    color: white;
    background-color: black;
}

.subsection.header {
    color: red;
  }
  
  .subsection#preview {
    color: blue;
  }

.anchestor .contents{
    color: blue;
}

.ram{
  color: azure;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

img{
  height: auto;
  width: 800px;
}
