*{
    margin: 0;
    padding: 0;
}

.alert-text{
 color: red;
}

#title{
color: aquamarine;
}

.read, .unread{
    color: white;
    background-color: black;
}

.subsection.header {
    color: red;
  }
  
  .subsection#preview {
    color: blue;
  }

.anchestor .contents{
    color: blue;
}
