*{
    margin: 0;
    padding: 0;
}

.alert-text{
 color: red;
}

#title{
color: aquamarine;
}

.read, .unread{
    color: blue;
    background-color: black;
    
}

.subsection.header {
    color: red;
  }
  
  .subsection#preview {
    color: blue;
  }

.anchestor .contents{
    color: blue;
}

.ram{
  color: azure;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

img{
  height: auto;
  width: 800px;
}

.practice{
width: 500px;
margin: auto;
}

p{
background: rgba(255, 84, 104, 0.3);
border: 2px solid rgb(255, 84, 104);
padding: 10px;
margin: 10px;
}

span{
  background: white;
  border: 1px solid black;
}

.flex-container{
display:flex;
}

/*this selector selects all divs inside
of flex-container*/
.flex-container div{
background: peachpuff;
border: 4px solid brown;
height: 100px;
flex: 4;
}